body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}


.table {
  margin-bottom: 10em;
}

.row {
  border: 3px solid #DC8F61;
  height: 3em;
  width: 90%;
  margin: 0 auto;
}

.col {
  display: flex;
  justify-content: center;
}

.col-6 {
  border: 3px solid #DC8F61;
}


.hour {
  padding-top: 5px;
}

.textarea {
  height: 100%;
  width: 100%;
}

input, input:focus, textarea:focus, select:focus{
  border-style: hidden;
  background-color: transparent;
  outline: none;
}


.save-img {
  max-width: 2em;
  max-height: 2em;
}


.becomeGrey {
  background-color: grey;
}

.becomeGreen {
  background-color: #AFDDC3;
}

.becomeBlue {
  background-color: aqua;
}